{include "Public/header"}
<script type="text/javascript" src="__ROOT__/Extra/Library/KindEditor/kindeditor.js"></script>
<script type="text/javascript">
$(function(){
	KindEditor.ready(function(K) {
	    var content = K.create('.KindEditor', {
	    });
	});
});
</script>
	<div class="page_tit">{$title}</div>
	<!-- START CONFIG_FORM -->
	<form method="POST" action="">
	{if isset($_GET['id'])}
	<input type="hidden" name="id" value="{:intval($_GET['id'])}" />
	{/if}
		<div class="form2">
			<dl class="lineD">
				<dt>
					<font color="red"></font>标题：
				</dt>
				<dd>
					<input name="title"  type="text" value="{$info['title']|''}" disabled  class="s-txt">
				</dd>
			</dl>
			{if $info['name']=='profile'}
			<dl class="lineD">
				<dt>
					<font color="red"></font>缩略图：
				</dt>
				<dd>
					<iframe src="{:U('Public/upload')}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="180" ></iframe>
				</dd>
			</dl>
			{/if}
			<dl class="lineD">
				<dt>
					<font color="red"></font>排序：
				</dt>
				<dd>
					<input name="sort"  type="text" value="{$info['sort']|''}"  class="s-txt">
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					<font color="red"></font>内容：
				</dt>
				<dd>
					<textarea name="content" class="KindEditor">{$info['content']|''}</textarea>
				</dd>
			</dl>
			<div class="page_btm">
				<input type='text' style="display: none"> <input
					type="submit" class="btn_b" value="保存"  />
			</div>
		</div>
	</form>
	<!-- END CONFIG_FORM -->
</div>

</html>