
 <!---------footer begin------>
      <div id="footer">
      	<div id="footer_content">
            <span>
                <font>联系我们</font>
                QQ：{:C('QQ')}<br/>
                微信：{:C('WEIXIN')}<br/>
                Email：{:C('EMAIL')}
            </span>
            <span>
                <a href="{:C('IOS_URL')}" target="_blank"><img src="__CONTENT__/images/iphone_download.png" /></a><br/>
                <a href="{:C('ANDROID_URL')}" target="_blank"><img src="__CONTENT__/images/android_download.png" /></a><br/>
            </span>
            <span>
             	<font>网站信息动态</font>
              <br/><br/><br/>
            </span>
            <div>{:C('COPYRIGHT')}  <a href="#">免责申明</a></div>
        </div>
      </div>
      <!---------footer end------>
</div>
</body>
</html>