{include "Public/header"}
		<div class="page_tit">{$title}</div>
		<!-- START TOOLBAR -->
		<div class="Toolbar_inbox">
			<div class="page right"></div>
		</div>
		<!-- END TOOLBAR -->
		<!-- START LIST -->
		<div class="list" id="list">
		<form action="{:U('delete')}" method="post">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<th style="width: 30px;"><input type="checkbox" id="checkAll">
						</th>
						<th class="line_l">用户名</th>
						<th class="line_l">访问时长(秒)</th>
						<th class="line_l">访问页面</th>
						<th class="line_l">离开时间</th>
					</tr>
					{foreach $list as $v}
					<tr>

						<td><input type="checkbox" value="{$v['id']}" name="id[]"></td>
						<td>{$v['username']}</td>
						<td>{$v['access_time']}</td>
						<td><a href="{$v['url']}" target="_blank">{$v['url']}</a></td>
						<td>{$v['time_stamp']}</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
			</form>
			<div class="Toolbar_inbox">
			<div class="page right">
			{$page}
			</div>
		</div>
		</div>
		<!-- END LIST -->

	</div>
{include "Public/footer"}