<script type="text/javascript">
$(function(){
	var area={:json_encode($area)};
	var area_count={:isset($info['area'])?count($info['area']):'0'};
	var age_count={:isset($info['age'])?count($info['age']):'0'};
	$("#add_area").click(function(){
		var province_html='<dl class="lineD"><dt>&nbsp;</dt><dd><select name="area['+area_count+'][province_id]" class="province_id">';
		for(var i in area){
			province_html+='<option value="'+i+'">'+area[i].province_name+'</option>';
		}
		province_html+='</select><select name="area['+area_count+'][city_id]" class="city_id"><option value="0">请选择城市</option></select><select name="area['+area_count+'][area_id]" class="area_id"><option value="0">请选择区域</option></select><a href="#" class="delete_dl">删除</a></dd></dl>';
		++area_count;
		$(this).parents("dl").after(province_html);
		choice_user();
		return false;
	});
	$("#add_age").click(function(){
		var html='<dl class="lineD"><dt>&nbsp;</dt><dd>起始年龄:<input type="text" name="age['+age_count+'][start_age]" value="0" class="s-small-txt" />岁到<input type="text" name="age['+age_count+'][end_age]" value="60" class="s-small-txt" />岁&nbsp;<a href="#" class="delete_dl">删除</a></dd></dl>';
		$(this).parents("dl").after(html);
		choice_user();
		++age_count;
		return false;
	});
	$(".province_id").live("change",function(){
		var city_html='<option value="0">全部城市</option>';
		var province_id=$(this).val();
		if(area[province_id]){
			for(var i in area[province_id].city){
				city_html+='<option value="'+i+'">'+area[province_id].city[i].city_name+'</option>';
			}
			$(this).next("select").html(city_html);
			$(this).next().next().html('<option value="0">全部区域</option>');
		}
		choice_user();
	});
	$(".city_id").live("change",function(){
		var province_id=$(this).prev().val();
		var city_id=$(this).val();
		var area_html='<option value="0">全部区域</option>';
		if(area[province_id].city[city_id]){
			for(var i in area[province_id].city[city_id].area){
				area_html+='<option value="'+i+'">'+area[province_id].city[city_id].area[i]+'</option>';
			}
		}
		$(this).next("select").html(area_html);
		choice_user();
	});
	$(".delete_dl").live("click",function(){
		$(this).parents("dl").remove();
		choice_user();
		return false;
	});
	$(".start_age,.end_age").live("keyup",function(){
		choice_user();
	});
	$("select[name='gender'],select[name='salary_id'],select[name='marriage_id'],select[name='education_id'],select[name='constellation_id']").change(function(){
		choice_user();
	});
	choice_user();
	/**计算会员数量*/
	function choice_user(){
		$.post("{:U('Validate/choiceUser')}",$("form").serialize(),function(rs){
			if(rs.result==1){
				$("#choice_user").html(rs.msg);
			}
		},'json');
	}
});
</script>
	<div class="page_tit">投放筛选</div>
			<dl class="lineD">
				<dt>
					地区筛选：
				</dt>
				<dd>
					<a href="#" id="add_area">添加投放地区</a>
					<font color="red">*如果不添加则表示全国</font>
				</dd>
			</dl>
			{if isset($info['area'])}
			{foreach $info['area'] as $key=>$v}
			<dl class="lineD">
				<dt>
				&nbsp;
				</dt>
				<dd>
					<select name="area[{$key}][province_id]" class="province_id">
					{foreach $area as $k=>$val}
					<option value="{$k}" {if $k==$v['province_id']}selected="selected"{/if}>{$val['province_name']}</option>
					{/foreach}
					</select>
					<select name="area[{$key}][city_id]" class="city_id">
					<option value="0">全部城市</option>
					{foreach $area[$v['province_id']]['city'] as $k=>$val}
					<option value="{$k}" {if $k==$v['city_id']}selected="selected"{/if}>{$val['city_name']}</option>
					{/foreach}
					</select>
					<select name="area[{$key}][area_id]" class="area_id">
					<option value="0">全部区域</option>
					{foreach $area[$v['province_id']]['city'][$v['city_id']]['area'] as $k=>$val}
					<option value="{$k}" {if $k==$v['area_id']}selected="selected"{/if}>{$val}</option>
					{/foreach}
					</select>
					<a href="#" class="delete_dl">删除</a>
				</dd>
			</dl>
			{/foreach}
			{/if}
			<dl class="lineD">
				<dt>
					年龄筛选：
				</dt>
				<dd>
					<a href="#" id="add_age">添加投放年龄</a>
				</dd>
			</dl>
			{if isset($info['age'])}
			{foreach $info['age'] as $key=>$v}
			<dl class="lineD">
			<dt>&nbsp;</dt>
			<dd>起始年龄:<input type="text" name="age[{$key}][start_age]" value="{$v['start_age']}" class="s-small-txt start_age" />岁到
			<input type="text" name="age[{$key}][end_age]" value="{$v['end_age']}" class="s-small-txt end_age" />岁&nbsp;
			<a href="#" class="delete_dl">删除</a>
			</dd>
			</dl>
			{/foreach}
			{/if}
			<dl class="lineD">
				<dt>
					性别筛选：
				</dt>
				<dd>
					<select name="gender">
					<option value="-1">不筛选</option>
					{foreach gender(null,false) as $k=>$v}
					<option value="{$k}" {if isset($info)&&$info['gender']==$k}selected="selected"{/if}>{$v}</option>
					{/foreach}
					</select>
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					月收入筛选：
				</dt>
				<dd>
					<select name="salary_id">
					<option value="-1">不筛选</option>
					{foreach salary_type(null,false) as $k=>$v}
					<option value="{$k}" {if isset($info)&&$info['salary_id']==$k}selected="selected"{/if}>{$v}</option>
					{/foreach}
					</select>
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					婚姻状况筛选：
				</dt>
				<dd>
					<select name="marriage_id">
					<option value="-1">不筛选</option>
					{foreach marriage_type(null,false) as $k=>$v}
					<option value="{$k}" {if isset($info)&&$info['marriage_id']==$k}selected="selected"{/if}>{$v}</option>
					{/foreach}
					</select>
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					学历筛选：
				</dt>
				<dd>
					<select name="education_id">
					<option value="-1">不筛选</option>
					{foreach education_type(null,false) as $k=>$v}
					<option value="{$k}" {if isset($info)&&$info['education_id']==$k}selected="selected"{/if}>{$v}</option>
					{/foreach}
					</select>
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					星座筛选：
				</dt>
				<dd>
					<select name="constellation_id">
					<option value="-1">不筛选</option>
					{foreach constellation_type(null,false) as $k=>$v}
					<option value="{$k}" {if isset($info)&&$info['constellation_id']==$k}selected="selected"{/if}>{$v}</option>
					{/foreach}
					</select>
				</dd>
			</dl>
			<dl class="lineD">
				<dt>
					&nbsp;
				</dt>
				<dd>
					<font color="red" id="choice_user"></font>
				</dd>
			</dl>