{:load('js/jquery.uploadify.js')}
{:load('css/uploadify.css')}
<script type="text/javascript">
$(function(){
	$('#file_upload').uploadify({
		'formData'     : {},
		'cancelImg':'__CONTENT__/images/uploadify-cancel.png',
		'swf'      : '__CONTENT__/swf/uploadify.swf',
		'uploader' : "{:U('Public/upload')}",
		'multi':false,
		'fileTypeDesc':'请选择一张图片',
		'fileTypeExts':'*.jpg;*.jpeg;*.gif;*.png',
		'buttonText':'上传图片',
		'width':100,
		'height':25,
		'onUploadSuccess':function(file, rs, response) { 
			if(rs==""){
				alert('上传失败,请重新尝试');
				return false;
			}
			var prefix="__UPLOAD__/";
			$("#uploadImg").attr("src",prefix+rs).show();
			$("#uploadImg").parent().attr("href",prefix+rs);
			$("input[name='{$imageName}']").val(rs);
		},
		'onUploadError': function(file, errorCode, errorMsg, errorString) {
            alert(errorString);
        }
	});
});
</script>
<input type="file" id="file_upload"/>
<input type="hidden" name="{$imageName}" value="{$img|''}"/>
<a href="__UPLOAD__/{$img|C('DEFAULT_NO_PIC')}" data-lightbox="example-set" >
<img src="__UPLOAD__/{$img|C('DEFAULT_NO_PIC')}" height="100" id="uploadImg" {if empty($img)}style="display:none;"{/if} />
</a>