{include "Public/header"} {include "Public/search"}
<link type="text/css" rel="stylesheet"
	href="__CONTENT__/css/article.css" />
<div class="g-doc box">
	<div class="g-head">
		<div class="g-hdc box">
			<!-- 
					<div class="m-hdimg">
						<a class="hdimg img" href="/">
							<img src="http://imgsize.ph.126.net/?imgurl=http://img7.ph.126.net/YcGrfrXy_SQFwR6B4BE2qw==/1277051969354135957.jpg_180x180x0x90.jpg" width="150" height="150" />
						</a>
					</div>
					 -->
			<!-- 自定义logo时，-->

			<div class="m-about">
				<h1 class="ttl">
					<a href="#">{$info['title']}</a>
				</h1>
			</div>
			<span class="icn0">&nbsp;</span>
		</div>
	</div>
	<div class="g-bd">
		<div class="box">
			<div class="m-postlist">
				<div class="m-post  m-post-txt">
					<div class="postinner">
						<div class="ct">
							<div class="ctc box">
								<h2 class="ttl">
									{$info['username']}
								</h2>
								<div class="txtcont">{$info['content']}</div>
							</div>
						</div>
						<!-- 
                                <div class="infol info box">
                                    <span class="icn  icn2  ">&nbsp;</span>
                                    <a class="hot" href="http://lofterphoto3.lofter.com/post/10e991_2d3c3b">2</a>
                                </div>
                                 -->
						<div class="infor info box">
							<a class="date" href="#">{$info['create_time']}</a>
						</div>
					</div>
				</div>
				<script type="text/javascript">
				$(function(){
					$("#reply").click(function(){
						var content=$("input[name='content']").val();
						if(content==""){
							alert("回复内容不能为空");
							return false;
						}
						$("#reply-form").submit();
					});
				});
				</script>
				{if isset($_SESSION['user'])}
				<form action="{:U('reply')}" method="post" id="reply-form">
				<input type="hidden" name="question_id" value="{$_GET['id']}" />
				<div style="padding-bottom:50px;">
					<input type="text" name="content" maxlength="255" class="w-inputxt w-inputxt-2" autocomplete="off"
						placeholder="请输入回复内容.....">
					<div class="m-info float_right">
						<a class="btn js-167639" id="reply" href="#"><span>回复</span></a>
					</div>
				</div>
				</form>
				{/if}
			</div>
		</div>
		{foreach $question_list as $v}
		<div class="reply-list">
			<div class="reply-name">{$v['username']}</div>
			<div class="reply-content">{$v['content']}</div>
			<div class="reply-button">{$v['create_time']}</div>
		</div>
		{/foreach}
		<div style="clear:both;"></div>
		<div class="pagination" style="margin-bottom:20px;">{$page}</div>
		<div style="clear:both;"></div>
	</div>
	{include "Public/footer"}